{% extends "bootstrap/base.html" %}

{% block head %}
<link rel="stylesheet" href="/core/static/css/style.css">
{% endblock %}

{% block title %}
Charts test
{% endblock %}

{% block content %}
    <div class="container">
        <!--Chart1-->
        <div style="display: flex; flex-wrap: wrap;">
            <div style="flex: 1 0 100%;">
                <p>PV Productie</p>
                <div id="chart1_current" style="width: 100%; height: 400px;"></div>
            </div>
            <div style="flex: 1 0 100%;">
                <p>PV productie voorspelling</p>
                <div id="chart1_prediction" style="width: 100%; height: 400px;"></div>
            </div>
            <select id="modelSelect">
                <option value="lstm">LSTM</option>
                <option value="gru">GRU</option>
            </select>
        </div>
    </br>
        <!--Chart2-->
        <div style="display: flex; flex-wrap: wrap;">
            <div style="flex: 1 0 100%;">
                <p>Household power consumption</p>
                <div id="chart2_current" style="width: 100%; height: 400px;"></div>
            </div>
            <div style="flex: 1 0 100%;">
                <p>Household power consumption voorspelling</p>
                <div id="chart2_prediction" style="width: 100%; height: 400px;"></div>
            </div>
            <select id="modelSelect2">
                <option value="lstm">LSTM</option>
                <option value="gru">GRU</option>
            </select>
        </div>
        <!--Chart3-->
        <!-- <div style="display: flex; flex-wrap: wrap;">
            <div style="flex: 1 0 100%;">
                <p>Current 3</p>
                <div id="chart3_current" style="width: 100%; height: 400px;"></div>
            </div>
            <div style="flex: 1 0 100%;">
                <p>Prediction 3</p>
                <div id="chart3_prediction" style="width: 100%; height: 400px;"></div>
            </div>
        </div> -->
    </div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/core/static/js/chart1.js"></script>
<script src="/core/static/js/chart2.js"></script>
<!-- <script src="/core/static/js/chart3.js"></script> -->
{% endblock %}