{% extends "bootstrap/base.html" %}

{% block title %}
Charts test
{% endblock %}

{% block content %}
    <div class="container" style="display: flex; flex-wrap: wrap;">
        <!--Chart1-->
        <div style="flex: 1 0 50%;">
            <p>PV Productie</p>
            <div id="chart1_current" style="width: 100%; height: 400px;"></div>
        </div>
        <div style="flex: 1 0 50%;">
            <p>PV productie voorspelling</p>
            <div id="chart1_prediction" style="width: 100%; height: 400px;"></div>
        </div>
        <!--Chart2-->
        <div style="flex: 1 0 50%;">
            <p>Current 2</p>
            <div id="chart2_current" style="width: 100%; height: 400px;"></div>
        </div>
        <div style="flex: 1 0 50%;">
            <p>Prediction 2</p>
            <div id="chart2_prediction" style="width: 100%; height: 400px;"></div>
        </div>
        <!--Chart3-->
        <div style="flex: 1 0 50%;">
            <p>Current 3</p>
            <div id="chart3_current" style="width: 100%; height: 400px;"></div>
        </div>
        <div style="flex: 1 0 50%;">
            <p>Prediction 3</p>
            <div id="chart3_prediction" style="width: 100%; height: 400px;"></div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    var newUsageUrl = "{{ url_for('core.get_new_usage') }}";
    var futureUsageUrl = "{{ url_for('core.get_future_usage_prediction') }}";
    var getCSVDataUrl = "{{ url_for('core.get_csv_data') }}";
</script>
<script src="/core/static/js/chart1.js"></script>
<script src="/core/static/js/chart2.js"></script>
<script src="/core/static/js/chart3.js"></script>
{% endblock %}