#modelSelect,
#modelSelect2 {
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, scaleX 0.3s ease;
  }

  #modelSelect:hover,
  #modelSelect2:hover {
    background-color: #f4f4f4;
    transform: scaleX(1.02);
    cursor: pointer;
    box-shadow: 0px 0;
  }

p {
    font: 30px/1.5 'Open Sans', sans-serif;
    font-style: bold;
    text-shadow: 1px 1px 1px #6e565a;
    margin-top: 10px;
    text-transform: uppercase;
}